{% extends "layout.html" %}
{% block container %}
<div class="container-fluid">
  <ul class="nav nav-pills">
    <li><a href="/">Home</a></li>
    <li><a href="/flight">flight</a></li>
    <li class="active"><a href="/squawk">squawk</a></li>
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <form>
        <p>Search by squawk: <input type="text" name="squawk"></p>
        <p><input type="submit" value="Submit"></p>
        <p>Squawk examples below :</p>
        <p>"3362"
          "4044"
          "3252"
          "3351"
          "3212"
          "7654"
          "2526"
          "4774"
          "4711"
          "4702"
          "7712"
          "5433"
          "4577"
          "4704"
          "4505"
          "2077"
          "4023"
          "5413"
          "4776"
          "3273"
          "6232"
          "2315"
          "4452"
          "2060"
          "6271"
          "4463"
          "5440"
          "2716"
          "4543"
          "3111"
          "5457"
          "4676"
          "3323"
          "4750"
          "6217"
          "6211"
          "2067"
          "4533"
          "2333"
          "7714"
          "3375"
          "4442"
          "4755"
          "2076"
          "3372"
          "7144"
          "4461"
          "4761"
          "2033"
          "4535"
          "3222"
          "3233"
          "3377"
          "7615"
          "2062"
          "6262"
          "2517"
          "4552"
          "4447"
          "6755"
          "3341"
          "6255"
          "4514"
          "3315"
          "2564"
          "2303"
          "2710"
          "4545"
          "4517"
          "4744"
          "7652"
          "4710"
          "6207"
          "6424"
          "4511"
          "2547"
          "2732"
          "7707"
          "4526"
          "0621"
          "2340"
          "4206"
          "3276"
          "3370"
          "3376"
          "4551"
          "4506"
          "6251"
          "4460"
          "6265"
          "7613"
          "3244"
          "4440"
          "3246"
          "7122"
          "7146"
          "2352"
          "4544"
          "4507"
          "3552"
          "4471"
          "3235"
          "4043"
          "4717"
          "4034"
          "7115"
          "5444"
          "4721"
          "3253"
          "3337"
          "3330"
          "6400"
          "6267"
          "4475"
          "2074"
          "4653"
          "7121"
          "3550"
          "0352"
          "3354"
          "4525"
          "6204"
          "5417"
          "3504"
          "6250"
          "4537"
          "4570"
          "7664"
          "5255"
          "3115"
          "3171"
          "2022"
          "7136"
          "4741"
          "4523"
          "4502"
          "6224"
          "3507"
          "4661"
          "7716"
          "6254"
          "7607"
          "2045"
          "7713"
          "3356"
          "2327"
          "6203"
          "2023"
          "6765"
          "3373"
          "3312"
          "2354"
          "4520"
          "6263"
          "6242"
          "7137"
          "4615"
          "0137"
          "4266"
          "2020"
          "2724"
          "4512"
          "0730"
          "3334"
          "2055"
          "4765"
          "6236"
          "3336"
          "2522"
          "7624"
          "6240"
          "6461"
          "3371"
          "7710"
          "7711"
          "6436"
          "5203"
          "2072"
          "5462"
          "7147"
          "4565"
          "7103"
          "6770"
          "4632"
          "6233"
          "0507"
          "3251"
          "4550"
          "3211"
          "7670"
          "2041"
          "4457"
          "5461"
          "6256"
          "6266"
          "3245"
          "4640"
          "6205"
          "6122"
          "3274"
          "7611"
          "4051"
          "3114"
          "7705"
          "4521"
          "4536"
          "6202"
          "4770"
          "5436"
          "4005"
          "4564"
          "7145"
          "3255"
          "4731"
          "3314"
          "4007"
          "4532"
          "5420"
          "2065"
          "4222"
          "6272"
          "2035"
          "4737"
          "4527"
          "3366"
          "7604"
          "3275"
          "4451"
          "3536"
          "2042"
          "5407"
          "6257"
          "4020"
          "6212"
          "4454"
          "6421"
          "4516"
          "4446"
          "5766"
          "4450"
          "3122"
          "2546"
          "4730"
          "4534"
          "6275"
          "4462"
          "7610"
          "3261"
          "3224"
          "2725"
          "6216"
          "4547"
          "2736"
          "0675"
          "5741"
          "4473"
          "3272"
          "3307"
          "5217"
          "3534"
          "5415"
          "4064"
          "5456"
          "4501"
          "3363"
          "4563"
          "4553"
          "0514"
          "4576"
          "4716"
          "4470"
          "4666"
          "6243"
          "3331"
          "5765"
          "4567"
          "6230"
          "2070"
          "3217"
          "7635"
          "5452"
          "2051"
          "3316"
          "3344"
          "2713"
          "7102"
          "6715"
          "3357"
          "3350"
          "3210"
          "2061"
          "3231"
          "4603"
          "6276"
          "4541"
          "4444"
          "4667"
          "7627"
          "7704"
          "6235"
          "4024"
          "4557"
          "5450"
          "3332"
          "4562"
          "3264"
          "7640"
          "2036"
          "0750"
          "3302"
          "3207"
          "4620"
          "3355"
          "3242"
          "4456"
          "3221"
          "3374"
          "0127"
          "4004"
          "2307"
          "4052"
          "3230"
          "6260"
          "4531"
          "6227"
          "4033"
          "0505"
          "3240"
          "3214"
          "7703"
          "4665"
          "4555"
          "6223"
          "4736"
          "3360"
          "0620"
          "6226"
          "2024"
          "5460"
          "3254"
          "4777"
          "5730"
          "4546"
          "5464"
          "4467"
          "4707"
          "0000"
          "2073"
          "4651"
          "4573"
          "3241"
          "4623"
          "0362"
          "6763"
          "4764"
          "4664"
          "6246"
          "4070"
          "2044"
          "6253"
          "6244"
          "6201"
          "2367"
          "4660"
          "0132"
          "2021"
          "5230"
          "4746"
          "6247"
          "3340"
          "6270"
          "3306"
          "4226"
          "4677"
          "2030"
          "4477"
          "5451"
          "4466"
          "2047"
          "4441"
          "6277"
          "4723"
          "6225"
          "4627"
          "3303"
          "3367"
          "3260"
          "4530"
          "5213"
          "6241"
          "4011"
          "4743"
          "3353"
          "4474"
          "4560"
          "0120"
          "3311"
          "2341"
          "3361"
          "6214"
          "3346"
          "7135"
          "4663"
          "4513"
          "5243"
          "4476"
          "3364"
          "4503"
          "2373"
          "3304"
          "5746"
          "4542"
          "7112"
          "7674"
          "4077"
          "4445"
          "3113"
          "0135"
          "6210"
          "3142"
          "0740"
          "6245"
          "4670"
          "4574"
          "4556"
          "2063"
          "4756"
          "3305"
          "3522"
          "4012"
          "2075"
          "6273"
          "6722"
          "2053"
          "4203"
          "2524"
          "0756"
          "4060"
          "6761"
          "4027"
          "7623"
          "4002"
          "6274"
          "5447"
          "7116"
          "4566"
          "6215"
          "4046"
          "6444"
          "4455"
          "4712"
          "4772"
          "4055"
          "2026"
          "4606"
          "4646"
          "3326"
          "4575"
          "5763"
          "5445"
          "4621"
          "4464"
          "6222"
          "4540"
          "3551"
          "4763"
          "6703"
          "4630"
          "4571"
          "6231"
          "4742"
          "7631"
          "0766"
          "4762"
          "7616"
          "4453"
          "3257"
          "4671"
          "4510"
          "6213"
          "3327"
          "7672"
          "3206"
          "4715"
          "4057"
          "2066"
          "5745"
          "2034"
          "4554"
          "6234"
          "2720"
          "4522"
          "4572"
          "3343"
          "5441"
          "3352"
          "3263"
          "3250"
          "4757"
          "6264"
          "4645"
          "2705"
          "2040"
          "4515"
          "5424"
          "5412"
          "6456"
          "3322"
          "4754"
          "6206"
          "4561"
          "3572"
          "4504"
          "4244"
          "5442"
          "6221"
          "5720"
          "7706"
          "4524"
          "2057"
          "4072"
          "3226"
          "0724"
          "3347"
          "4472"
          "6237"
          "3220"
          "6252"
          "2056"
          "2064"
          "2027"
          "7702"
          "6261"
          "4611"
          "3262"
          "2554"
          "6220"
        </p>
      </form>
    </div>
    <div class="span7">
      <table class="table table-striped">
        <tr>
          {% for cell in header %}
          <td><b>{{ cell }}</b></td>
          {% endfor %}
        </tr>
        {% for item in query %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.flight}}</td>
          <td>{{item.altitude}}</td>
          <td>{{item.squawk}}</td>
          <td>{{item.lat}}</td>
          <td>{{item.lon}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}